
<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Edit Email</h3>
</div>
<div class="modal-body" id="modal-body">
    <form name="editemailform">
        <div class="form-group">
            <label>Select Email Address need to change</label>
            <select ng-model="oldemail" class="form-control" name="oldemail" required>
                <option ng-repeat="item in user.email">{{item}}</option>
            </select>
            <p class="text-danger" ng-show="editemailform.oldemail.$error.required">Please select email </p>
        </div>
        <div class="form-group">
            <label>New Email</label>
            <input type="text" placeholder="Enter Email Address Here.." class="form-control" ng-pattern="/^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$/" ng-model="newemail" name="newemail" required>
            <p class="text-danger" ng-show="editemailform.newemail.$error.required">Email is required if you want to change email </p>
            <p class="text-danger" ng-show="editemailform.newemail.$error.pattern">Email is invalid </p>
        </div>
        <button type="button" class="btn btn-lg btn-info" ng-disabled="editemailform.$invalid" ng-click="editemail()">Save change</button>
        <button type="button" class="btn btn-lg btn-info" ng-disabled="editemailform.oldemail.$error.required" ng-click="deleteemail()">Delete Email</button>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="quit()">Cancel</button>
</div>
