
<div class="container">
    <h1 class="well">Edit Form</h1>
    <div class="col-lg-12 well">
        <div class="row">
            <form name="registerform">
                <div class="col-sm-12">

                    <div class="form-group">
                        <label>Full Name</label>
                        <input type="text" placeholder="Enter Full Name Here.." class="form-control" ng-model="user.fullname">
                    </div>
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label>User Name</label>
                            <input type="text" placeholder="Enter User Name Here.." class="form-control" ng-model="user.username" name="username" required>
                            <p ng-show="registerform.username.$error.required" class="text-danger">Username is required</p>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label>Sex</label>
                            <input type="text" placeholder="Enter Your Sex Here.." class="form-control" ng-model="user.sex">
                        </div>
                    </div>
                    <div class="row">
                        
                        <div class="col-sm-6 form-group">
                            <label>Birthday</label>
                            <input type="text" placeholder="Enter Birthday Here.." class="form-control" id="datetimepicker4" ng-model="user.birthday">
                        </div>
                        <div class="col-sm-6 form-group">
                            <label>Job</label>
                            <select class="form-control" ng-model="user.job">

                                <option value="Developer">Developer</option>
                                <option value="Tester">Tester</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Phone Number</label>
                        <ul>
                            <li ng-repeat="i in user.phone">{{i}}</li>
                        </ul>
                    </div>
                    <div class="form-group">
                        <label>Email Address</label>
                        <ul>
                            <li ng-repeat="i in user.email">{{i}}</li>
                        </ul>
                    </div>

                    <div class="form-group">
                        <label>Introduce yourself</label>
                        <textarea placeholder="Enter Introduce yourself Here.." rows="3" class="form-control" ng-model="user.introduce" name="introduce" ng-maxlength="1000"></textarea>
                        <p class="text-danger" ng-show="registerform.introduce.$dirty&&registerform.introduce.$error.maxlength">Introduce must have max 1000 characters</p>
                    </div>
                    <button type="button" class="btn btn-lg btn-info" ng-disabled="registerform.$invalid" ng-click="edit()">Save</button>
                    <button type="button" class="btn btn-lg btn-info" ng-click="editemail()">Edit Email</button>
                    <button type="button" class="btn btn-lg btn-info" ng-click="editphone()">Edit Phone</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    $.datetimepicker.setLocale('vi');
    $('#datetimepicker4')
        .datetimepicker({
            timepicker: false,
            format: 'd/m/Y'
        });

</script>