<!DOCTYPE html>
<html ng-app="userapp">
<head>
    <title></title>
    <meta charset="utf-8"/>
    <link href="content/bootstrap.min.css" rel="stylesheet" />
    <link href="content/jquery.datetimepicker.css" rel="stylesheet" />
    <link href="content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
</head>
<body>

    <div class="container" ng-controller="UserController">
        <form class="form-horizontal" name="userform" ng-hide="flag">
            <fieldset>
                <div id="legend">
                    <legend class="">User</legend>
                </div>
                <div class="control-group">
                    <!-- Username -->
                    <label class="control-label" for="username">Username</label>
                    <div class="controls">
                        <input type="text" id="username" name="username" placeholder="" class="input-xlarge" ng-model="username" required>
                        <p ng-show="userform.username.$error.required" class="text-danger">Username is required</p>
                    </div>
                </div>
                <div class="control-group">
                    <!-- Username -->
                    <label class="control-label" for="username">PassWord</label>
                    <div class="controls">
                        <input type="password" id="password" name="password" class="input-xlarge" ng-minlength="6" ng-maxlength="32" ng-model="password" required>
                        <p class="text-danger" ng-show="userform.password.$error.required">Password is required</p>
                        <p class="text-danger" ng-show="userform.password.$dirty&&userform.password.$error.minlength">Password must have at least 6 characters</p>
                        <p class="text-danger" ng-show="userform.password.$dirty&&userform.password.$error.maxlength">Password must have max 32 characters</p>
                    </div>
                </div>
                <div class="control-group">
                    <!-- Username -->
                    <label class="control-label" for="username">Confirm PassWord</label>
                    <div class="controls">
                        <input type="password" id="confirmpassword" name="confirmpassword" class="input-xlarge" ng-model="confirmpassword" data-password-verify="password" required>
                        <p class="text-danger" ng-show="userform.confirmpassword.$error.required">Password confirm is required</p>
                        <p class="text-danger" ng-show="userform.confirmpassword.$error.passwordVerify">Password not match</p>
                    </div>
                </div>
                <div class="control-group">
                    <!-- E-mail -->
                    <label class="control-label" for="email">Full Name</label>
                    <div class="controls">
                        <input type="text" id="fullname" name="fullname" placeholder="" class="input-xlarge" ng-model="fullname">

                    </div>
                </div>
                <div class="control-group">
                    <!-- E-mail -->
                    <label class="control-label" for="email">Birthday</label>
                    <div class="controls">
                        <input id="datetimepicker4" type="text" ng-model="birthday" name="birthday"/>

                    </div>
                </div>

                <div class="control-group">
                    <!-- E-mail -->
                    <label class="control-label" for="email">Sex</label>
                    <div class="controls">
                        <input type="text" id="sex" name="sex" placeholder="" class="input-xlarge" ng-model="sex">

                    </div>
                </div>

                <div class="control-group">
                    <!-- E-mail -->
                    <label class="control-label" for="email">E-mail</label>
                   
                    <div class="controls">
                        <input type="text" id="email" name="email" placeholder="" class="input-xlarge" ng-model="email" ng-pattern="/^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$/" required>
                        <p class="text-danger" ng-show="userform.email.$error.required">Email is required </p>
                        <p class="text-danger" ng-show="userform.email.$error.pattern">Email is invalid </p>
                    </div>
                </div>
                <div class="control-group">
                    <!-- E-mail -->
                    <label class="control-label" for="email">Phone</label>
                    <div class="controls">
                        <input type="text" id="phone" name="phone" placeholder="" class="input-xlarge" ng-model="phone">

                    </div>
                </div>
                <div class="control-group">
                    <!-- E-mail -->
                    <label class="control-label" for="email">Job</label>
                    <div class="controls">
                        <select class="form-control" ng-model="job"style="width: 15%">

                            <option value="Developer">Developer</option>
                            <option value="Tester">Tester</option>
                        </select>

                    </div>
                </div>
                <div class="control-group">
                    <!-- E-mail -->
                    <label class="control-label" for="email">Introduce</label>
                    <div class="controls">
                        <textarea class="input-xlarge" ng-model="introduce"></textarea>

                    </div>
                </div>


                <div class="control-group">
                    <!-- Button -->
                    <div class="controls">
                        <button class="btn btn-success" ng-disabled="userform.$invalid" ng-click="submit()">Submit</button>
                    </div>
                </div>
            </fieldset>
        </form>
        <div ng-show="flag">
            <label>User Name :</label><label class="text-info" for="username">{{user.username}}</label> <br />
            <label>Full Name</label>: <label class="text-info" for="username">{{user.fullname}}</label><br />
            <label>Birthday</label>: <label class="text-info" for="username">{{user.birthday}}</label><br />
            <label>Sex</label>: <label class="text-info" for="username">{{user.sex}}</label><br />
            <label>Email</label>:
            <ul>
                <li ng-repeat="i in user.email" >{{i}}</li>
            </ul>
            <br />
            <label>Phone</label>:
            <ul>
                <li ng-repeat="i in user.phone">{{i}}</li>
            </ul>
            <br />
            <label>Job</label>: <label class="text-info" for="username">{{job}}</label><br />
            <label>Introduce</label>: <label class="text-info" for="username">{{introduce}}</label><br/>
            <div class="controls">
                <button class="btn btn-success" ng-click="edit()">Edit</button>
            </div>
            <br/>

            <form class="form-horizontal" name="addemailform">
                <div class="control-group">
                    <!-- E-mail -->
                    <label class="control-label" for="email">E-mail</label>
                    <div class="controls">
                        <input type="text" id="email" name="email" placeholder="" class="input-xlarge" ng-model="emailadd" ng-pattern="/^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$/" required>
                        <p class="text-danger" ng-show="addemailform.emailadd.$error.required">Email is required </p>
                        <p class="text-danger" ng-show="addemailform.email.$error.pattern">Email is invalid </p>
                    </div>
                </div>
                <br/>
                <div class="controls">
                    <button class="btn btn-success" ng-disabled="addemailform.$invalid" ng-click="addemail()">Add Email</button>
                </div>
            </form>
            <form class="form-horizontal" name="addphoneform">
                <div class="control-group">
                    <!-- E-mail -->
                    <label class="control-label" for="email">Phone</label>
                    <div class="controls">
                        <input type="text" id="email" name="email" placeholder="" class="input-xlarge" ng-model="phoneadd" required>
                        <p class="text-danger" ng-show="addphoneform.phoneadd.$error.required">Phone is required </p>
                    </div>
                </div>
                <br />
                <div class="controls">
                    <button class="btn btn-success" ng-disabled="addphoneform.$invalid"  ng-click="addphone()">Add Phone</button>
                </div>
            </form>

</div>
    </div>


<script src="content/jquery-3.1.1.min.js"></script>
<script src="content/angular.min.js"></script>
<script src="content/bootstrap.min.js"></script>
<script src="content/bootstrap-datetimepicker.min.js"></script>
<script src="content/jquery.datetimepicker.full.js"></script>
    <script src="content/app.js"></script>
<script type="text/javascript">
    $.datetimepicker.setLocale('vi');
    $('#datetimepicker4')
        .datetimepicker({
            timepicker: false,
            format: 'd/m/Y'
        });

</script>


</body>
</html>
